@import "../../Style/variables";

.complete-page {
    margin: 2rem auto;
    max-width: 65%;
}

.header__logo-wrapper {
    margin-bottom: 1rem;
}
.header__logo {
    height: 35px;
}
.greeting {
    &__container {
        margin-bottom: 4rem;
    }
    &__title {
        font-size: 1.75rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }
    &__text {
     font-size: 1rem;  
     font-weight: 300; 
    }
}

.progress-bar {
    display: flex;
    gap: 10rem;
    position: relative;
    width: fit-content;
    margin: 0 auto 2rem;
    &::before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY((-50%));
        height: 4px;
        width: 100%;
        background-color: $silver;
    }
    &__step1 {
        background-color: $silver;
        color:$dark-font;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        background-color: $blue;
    }
    &__step2 {
        background-color: $silver;
        color:$dark-font;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__step3 {
        background-color: $silver;
        color:$dark-font;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.button-wrapper {
    display: flex;
    margin-top: 4rem;
}
.aside-image {
    flex:1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.image {
    background-color: black;
    width: 300px;
    height: 200px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}