
@font-face {
    font-family: 'Circular Std';
    src: url('../../Assets/Font/CircularStd-Medium.eot');
    src: url('../../Assets/Font/CircularStd-Medium.eot?#iefix') format('embedded-opentype'),
        url('../../Assets/Font/CircularStd-Medium.woff2') format('woff2'),
        url('../../Assets/Font/CircularStd-Medium.woff') format('woff'),
        url('../../Assets/Font/CircularStd-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
