@use "src/Style/_variables.scss" as *;
@use "src/Style/_font.scss" as *;

.book-page {
  padding: 2rem 0;
  margin: 0 auto;
  max-width: 75%;
  height: 100vh;
  width: 100vw;
}
.primary-container {
  display: flex;
  justify-content: space-around;
}

.book-header {
  font-family: "Circular Medium Std", sans-serif;
  font-weight: 500;
  letter-spacing: 0.0625rem;
  line-height: 1.875rem;
  font-size: 1.625rem;
  padding-top: 2rem;
}

.book-text {
  font-family: "Circular", sans-serif;
  width: 31rem;
  padding-top: 2rem;
  margin-bottom: 2rem;
}

.book-form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-family: "Circular", sans-serif;
  padding-top: 2rem;
  &__fields {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  &__label {
    padding-bottom: 0.5rem;
  }

  &__input {
    font-family: "Circular", sans-serif;
    font-size: 1.2rem;
    height: 3.3rem;
    background: #f7f8fa;
    border: 0.0625rem solid #e4e6e9;
    border-radius: 0.3125rem;
    padding-left: 2rem;
    outline: none;
    margin-bottom: 1.5rem;
    &--err {
      font-family: "Circular", sans-serif;
      font-size: 1.2rem;
      height: 3.3rem;
      background: #f7f8fa;
      border-radius: 0.3125rem;
      padding-left: 2rem;
      border: 0.0625rem solid red;
      outline: none;
      margin-bottom: 1.5rem;
    }
  }
}

.book-image {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image {
  width: 400px;
}
.book-btn-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.book-btn {
  background: #0a5ac2;
  width: 10rem;
  border-radius: 0.6125rem;
  margin: 2rem 8rem 0 0;
  border: none;

  &__link {
    text-decoration: none;
  }

  &__text {
    height: 4.375rem;
    font-family: "Circular Medium Std", sans-serif;
    font-weight: 500;
    font-size: 1.3rem;
    color: $white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  &__arrow {
    size: 1rem;
  }
}

// .book-container {
//   display: flex;

//   &__form {
//     display: flex;
//   }
// }
