.create-header {
  font-family: "Circular Medium Std", sans-serif;
  font-weight: 500;
  letter-spacing: 0.0625rem;
  line-height: 1.875rem;
  font-size: 1.625rem;
  padding-top: 2rem;
}

.create-image {
  width: 40%;
}
